// @import "../variables/vars.scss";

.navbar {
  flex: 3;
  color: white;
  display: flex;
  transition: all 0.5s linear;
  flex-direction: column;
  &-socials {
    flex: 1;
    display: flex;
    align-items: center;
  }
  &-connect {
    margin-right: 1rem;
  }
  &-items {
    flex: 9;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  &-item {
    margin: 0.5rem;
    font-size: large;
    font-weight: bold;
    pointer-events: auto;
    cursor: pointer;
    transition: all 200ms linear;
  }
  &-item:hover {
    scale: 1.1;
  }
}

a:visited {
  color: white;
}
a:active {
  color: white;
}
a:link {
  color: white;
}
@media only screen and (max-width: 1250px) and (min-width: 801px) {
  .navbar {
    flex: 1;
    flex-direction: row-reverse;
    &-items {
      margin-left: 2rem;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
    }
  }
}
@media only screen and (max-width: 800px) and (min-width: 0px) {
  .navbar {
    flex: 1;
    flex-direction: row-reverse;
    &-items {
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
    }
    &-item {
      display: none;
    }
  }
}
