$baseTxtColor: #c5c3c3;
$baseBorderRadius: 15px;
$baseComponentMargin: 1rem;
// card related stuff
$cardWidth: 50vw;
$cardHeight: 90vh;
$cardBackgroundColor: #111010;
$cardFaderBackgroudColor: #1f1f1e;
$cardContentWidth: 55rem;
$cardContentHeight: 90vh;
$cardFaderGroupAnimationLength: 3s;

$cardFaderGroupAnimationLengthIteration: calc(
  $cardFaderGroupAnimationLength / 4
);
$navbarTxtCollor: #fff;
