.app {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  overflow: hidden;
}
.btn-left {
  width: 3rem;
  height: 3rem;
  background-color: transparent;
  border-radius: 2rem;
  border: 0;
  transition: all 0.5s ease-in-out;
}

.btn-right {
  width: 3rem;
  height: 3rem;
  border-radius: 2rem;
  background-color: transparent;
  border: 0;
  transition: all 0.5s ease-in-out;
}
.btn-right:hover {
  box-shadow: 0 0 15px #fff;
  scale: 1.2;
  transition: all 0.5s ease-in-out;
}

.btn-left:hover {
  box-shadow: 0 0 15px #fff;
  scale: 1.2;
  transition: all 0.5s ease-in-out;
}
.btn-left:active {
  background-color: #81b5f9;
  box-shadow: 0 0 15px #81b5f9;
  transition: all 0.2s;
}
.btn-right:active {
  background-color: #81b5f9;
  box-shadow: 0 0 15px #81b5f9;
  transition: all 0.2s;
}
