.app {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  overflow: hidden;
  /* background-color: #fff; */
  flex: 3;
}

.content {
  flex: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.card-header {
  margin-bottom: 3rem;
  font-size: xxx-large;
}
.card-intro {
  height: fit-content;
  border-left: 0.2rem solid #4d39a6;
  padding-left: 1rem;
}
.pic {
  width: 7rem;
  height: 7rem;
  border-radius: 5rem;
}
.card-cs {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 2rem;
  gap: 2rem;
}
.card-contentb {
  margin-left: 0.5rem;
  margin-left: 2rem
}
.skill-items {
  display: flex;
  gap: 0.5rem;
}
.skill-item {
  border-radius: 5px;
  background-color: #353535;
  padding: 0.3rem;;
}
